{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="group-frame" id="groupFrame">
<!-- TEAM BOARD -->
    <div class="frame-1">
        <div class="table-title">
            <p>Current Teams</p>
        </div>
        <div class="table-container scrollable">
            <table class="team-table">
                <thead>
                    <tr>
                        <th>Teams</th>
                        <th>Team Leader</th>
                        <th>Task</th>
                    </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.id }}</td>
                        <td>{{ team.team_leader.name }}</td>
                        <td>{{ team.task.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<!-- REPORTS BOARD -->
    <div class="frame-2">
        <div class="table-title">
            <p>Reports Today</p>
        </div>
        <hr />
        <div class="table2-container scrollable">
            <table class="reports-table">
                {% for report in reports %}
                <tr class='unread' onclick="displayReport(this)" data-report-id="{{ report.id }}">
                    <td><i class="fa-regular fa-envelope"></i></td>
                    <td class="desc">{{ report.content }}</td>
                    <td>Team {{ report.team.id }}</td>
                    <td>{{ report.time }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
<div class="group-frame" id="groupFrame2">
<!-- GRAPH BOARD -->
    <div class="frame-1">
        <div class="table-title">
            <p>Growth Chart</p>
        </div>
        <hr />
        <div class="graph-container">
            <canvas id="performanceChart" width="auto" height="auto"></canvas>
        </div>
    </div>
<!-- LEADERBOARD -->
    <div class="frame-2">
        <div class="table-title">
            <p>Current Rankings</p>
        </div>
        <div class="table3-container scrollable">
            <table class="team-table">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Rating</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="no-hover">
                {% for rank in leaderboards %}
                    <tr>
                        <td style="width: 105px;">{{ rank.team.id }}</td>
                        <td>{{ rank.team.performance_rating }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</div>
    
<div class="popup-frame center hidden" id="popupFrame">
    <div class="details-header">
        <p>Sender: Jose Ramil Malate (Team 1)</p>
        <p>Date: 2020-5-23 24:00</p>
    </div>
    <i class="fa-solid fa-xmark" onclick="hideReport()"></i>
    <div class="mail-field">
        <p>"On the other hand, we denounce with"</p>
    </div>
    <button class="reply-button" onclick="toggleReplyField()">
        <p id="replyText">Reply</p>
    </button>
    <form action="" class="reply-form">
        <input type="text" class="reply-field" id="replyField">
    </form>
</div>
    
{% endblock %}
