<div class="frame-2">
    <div class="table-title">
        <p>Current Rankings</p>
    </div>
    <div class="table3-container scrollable">
        <table class="team-table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="no-hover">
                <tr>
                    <td style="width: 105px;">1</td>
                    <td>95.0</td>
                    <td></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>82.9</td>
                    <td><i class="fa-solid fa-arrow-up"></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>78.9</td>
                    <td><i class="fa-solid fa-arrow-down"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
