<div class="frame-2">
    <div class="table-title">
        <p>Reports Today</p>
    </div>
    <hr />
    <div class="table2-container scrollable">
        <table class="reports-table">
            <tr class='unread'>
                <td><i class="fa-regular fa-envelope"></i></td>
                <td class="desc">AAAAAAAAAAAAAAAA</td>
                <td>Team 1</td>
                <td>2:15 pm</td>
            </tr>
            <tr>
                <td><i class="fa-regular fa-envelope-open"></i></td>
                <td class="desc">BBBBBBBBBBBBBB</td>
                <td>Team 1</td>
                <td>10:15 pm</td>
            </tr>
        </table>
    </div>
</div>
