<div class="frame-2">
    <div class="table-title">
        <p>Reports Today</p>
    </div>
    <hr />
    <div class="table2-container scrollable">
        <table class="reports-table">
            {% for report in reports %}
            <tr class="{{ report.is_read|yesno:'read,unread' }}" onclick="displayReport(this)" data-report-id="{{ report.id }}" id="report_{{ report.id }}">
                <td><i class="fa-regular fa-envelope"></i></td>
                <td class="desc">{{ report.content }}</td>
                <td>Team {{ report.team.id }}</td>
                <td>{{ report.time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>