
<div class="frame-1">
    <div class="table-title">
        <p>Current Teams</p>
    </div>
    <div class="table-container scrollable">
        <table class="team-table">
            <thead>
                <tr>
                    <th>Teams</th>
                    <th>Team Leader</th>
                    <th>Task</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Malate, Jose Ramil</td>
                    <td>Charity Project</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Celis, Nicole Angelo</td>
                    <td>Field Day Organizing</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
