
<div class="sidebar-wrapper text-shadow">
    <div class="container">
        <div class="user-wrapper">
            <p><i class="fa-solid fa-user-tie user"></i>Admin<i class="fa-solid fa-caret-down caret"></i></p>
            <hr />
        </div>
        <div class="button-wrapper">
            <ul class="no-bullets">
                <li class="page-link"><a href="{% url 'dashboard' %}"><i class="fa-solid fa-chart-line"></i>Dashboard</a></li>
                <li class="page-link"><a href="{% url 'teams-view' %}"><i class="fa-solid fa-users"></i>Teams</a></li>
                <!--
                <li class="page-link"><a href="#"><i class="fa-solid fa-ranking-star"></i>Leaderboard</a></li>
                <li class="page-link"><a href="#"><i class="fa-regular fa-bell"></i>Reports</a></li>
                -->
            </ul>
        </div>
        <div class="column">
            <div class="icon-wrapper">
                <a href="https://www.facebook.com/malatejramil/">
                    <i class="fa-brands fa-facebook fa-2xl"></i>
                </a>
                <a href="https://www.instagram.com/joseramilm/">
                    <i class="fa-brands fa-instagram fa-2xl"></i>
                </a>
                <a href="https://www.github.com/jramilm/">
                    <i class="fa-brands fa-github fa-2xl"></i>
                </a>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
</div>
